{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/bin/bash
sudo tee /etc/systemd/system/rootfs-shared.service > /dev/null << 'UNIT'
[Unit]
Description=Make rootfs shared mount for rootless containers
Before=podman.socket

[Service]
Type=oneshot
ExecStart=/bin/mount --make-rshared /
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
UNIT

sudo systemctl enable --now rootfs-shared.service
{{ end -}}
